body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    padding: 5px 100px 60px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

a, .secondary {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.greeting {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.greeting .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.img-top {
    flex: 1;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    font-weight: 550;
    padding: 7px 16px;
    width: 120px;
}

.greeting button {
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 80px 80px;
}

.chunk p {
    text-align: center;
    color: #1F2937;
}

.img-middle {
    width: 100%
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.quote em {
    flex: 1 1 auto;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    padding: 20px 0;
}

.quote p {
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-box {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 30px 90px;
    gap: 80px;
}

.sign-up button {
    border: 2px solid white;
    flex: 0 0 120px;
    margin-right: auto;
}

footer {
    display: flex;
    background-color: #1F2937;
    padding: 30px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}