body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 5px 100px 60px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

a, .secondary-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.top-main {
    padding: 100px;
    display: flex;
    overflow: hidden;
    gap: 25px;
}

.top-left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.img-top {
    flex: 1 1 auto;

}

button {
    background-color: #3882f6;
    display: inline-block;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 30px;
    margin-top: 10px;
}

.buttontop {
    flex: 0 0 0;
    font-weight: 550;
    border: none;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;
}

.info-body {
    display: flex;
    gap: 20px;
    padding: 0 80px 80px;
}

.body {
    text-align: center;
}

.img-middle {
    width: 100%
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.quote {
    flex: 1 1 auto;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    padding: 20px 0;
}

.author {
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-box {
    background-color: #3882F6;
    display: flex;
    border: none;
    border-radius: 8px;
    padding: 30px 90px;
    gap: 80px;
}

.fourth-info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth-title {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    padding: 5px 0;
}

.fourth-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.buttonbottom {
    border: 2px solid white;
    flex: 0 0 auto;
    font-weight: 550;
    margin-right: auto;
}

.footer {
    display: flex;
    background-color: #1F2937;
    padding: 30px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}